<nav class="navbar navbar-dark bg-secondary mb-3">
    <ul class="nav ">
        <li class="nav-item ">
            <a class="nav-link active text-white" href="/">Home</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-white" href="/bookshelf">Bookshelf</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/book/new">Add a New Book
            </a>
        </li>

    </ul>
</nav>