<%- include('partials/head') %>

    <body>
        <%- include ('partials/navbar') %>
            <h1 class="mb-3 ms-4">Home Page</h1>
            <p class="ms-4"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ab quos suscipit ipsum
                deleniti enim quis?
                Deserunt
                dolore, accusantium incidunt vitae sit aliquam architecto eos, id saepe eveniet quidem eligendi.</p>

            <%- include('partials/footer') %>
